body{
	color: white;
	position: relative;
	width: 100%;
	z-index: -999;
}
.main_page{
	background: linear-gradient(-120deg, $color-purple -20%, $color-magenta, $color-orange);
	background: -moz-linear-gradient(-120deg, $color-purple -20%, $color-magenta, $color-orange);
	background: -webkit-linear-gradient(-120deg, $color-purple -20%, $color-magenta, $color-orange);
	margin: 0;
	padding: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	z-index: -5;
}
.container__flexbox{
	@include flexbox;
}
.content{
	position: relative;
	width: 100%;
	z-index: 999;
}
.main_content{
	// background: rgba(255,255,255, .1);
	margin: 0 auto;
	position: relative;
	width: 280px;
	// width: 87.5%;
	@media (min-width:768px){
		width: 706px;
	}
	@media (min-width:1280px){
		width: 1040px;
	}
}
.container{
	margin: 0 auto;
	width: 100%;
}
.wrapper{

}
.wrapper--md{
	margin: 0 auto;
	width: 240px;
	@media (min-width: 768px){
		width: 365px;
	}
}
.wrapper-clients{
	@media (min-width: 768px){
		margin: 100px 0;
	}
	@media (min-width: 1280px){
		position: relative;
		height: 400px;
	}
}
.marker{
	color: $color-yellow;
	font-family: 'gotham_boldregular';
	font-size: 16px;
	line-height: 20px;
	padding: 25px 0 0;
	text-transform: uppercase;
	span{
		font-style: italic;
	}
	@media (min-width: 1280px) {
		font-size: 14px;
	}
}
.marker--opensans{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	letter-spacing: 2px;
}
.marker--opensans--italic{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 200;
	letter-spacing: 2px;
}
.resume{
	font-family: 'gotham_bookregular';
	line-height: 26px;
}
.box__title{
	border: 8px solid #fff;
	margin: 35px auto;
	padding: 16px 0;
	height: 240px;
	width: 240px;
	text-align: center;
	@media (min-width: 768px){
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		h3{
			font-size: 32px;
			text-transform: uppercase;
		}
	}
}


// Footer

.contact{
	padding: 20px 0;
	@media (min-width: 768px){
		padding: 25px 0;
		margin: 0;
		width: 300px;
	}
	@media (min-width: 1280px) {
		margin: 0 0 0 90px;
		padding: 0;
	}
}
.titles__contact{
	text-transform: uppercase;
	@media (min-width: 768px){
		font-size: 32px;
	}
}
.contact__titles--title-main{
	font-size: 24px;
	text-align: right;
	text-transform: uppercase;
	@media (min-width: 768px){
		font-size: 32px;
	}
	@media (min-width: 1280px) {
		line-height: 32px;
	}
}
.contact__titles--title1{
	font-family: 'Futura Std--Heavy';
}
.contact__titles--title2{
	font-family: 'Futura Std--ExtraBold';
}
.contact__titles--title3{
	font-family: 'Futura Std--BoldCondensed';
}
.contact__titles--title4{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 100;
	margin-left: 60px;
}
.contact__flexbox{
	@media (min-width: 768px){
		@include flexbox;
	}
}
.infos{
	margin: 15px auto 0;
	@media (min-width: 768px){
		margin: 25px 0 0;
	}
	@media (min-width: 1280px) {
		margin: 0;
		width: 640px;
	}
}
.infos-text{
	list-style: none;
	font-family: 'gotham_bookregular';
	font-size: 15px;
	line-height: 22px;
	@media (min-width: 768px){
		border: 8px solid #fff;
		font-family: 'Open Sans',sans-serif;
		font-style: italic;
		font-weight: 100;
		padding: 18px 10px;
		text-transform: uppercase;
		width: 250px;
		li{
			margin: 12px 0;
		}
		@media (min-width: 1280px) {
			padding: 15px;
		}
	}
}
.footing-navbar{
	margin: 35px auto;
	@media (min-width: 1280px) {
		margin: 20px 2px;
	}
	.number{
		display: none;
		@media (min-width: 768px) {
			color: #fff200;
			display: inline-block;
			font-family: 'gotham_lightregular';
			font-size: 12px;
			margin: 0 6px;
		}
	}
}
.footing-navbar-social{
	list-style: none;
}
.footing-social_list{
	display: inline-block;
	margin: 2px 4px;
}
.link__whatsapp{
	text-decoration: none;
}
