@keyframes shake_red {
  0% {
    left: -4px; }
  15% {
    left: -5px;
    top: -5px; }
  45% {
    left: -7px;
    top: -3px; }
  90% {
    left: -1px; }
  100% {
    left: -2px;
    top: -2px; } }
@keyframes shake_blue {
  0% {
    left: 1px; }
  15% {
    left: 6px;
    top: -2px; }
  45% {
    left: 2px;
    top: 1px; }
  90% {
    left: 4px; }
  100% {
    left: -7px;
    top: -7px; } }
@keyframes shake_black {
  0% {
    left: 3px; }
  15% {
    left: -5px;
    top: -2px; }
  45% {
    right: 2px;
    top: -5px; }
  70% {
    transform: scale(1.01); }
  90% {
    left: -4px; }
  100% {
    left: 2px;
    top: -8px; } }
.codes_graph {
  background-image: url(../images/bg_cod.png);
  background-repeat: repeat;
  height: 100%;
  opacity: .3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -999; }

.background-art--md {
  display: none; }
  @media (min-width: 768px) {
    .background-art--md {
      display: block; } }

.background-art_heart {
  position: absolute;
  left: -200px;
  top: 70px;
  z-index: -888; }
  .background-art_heart .heart_blue:before {
    content: url(../images/arts/heart_blue.png);
    position: absolute;
    left: -7px;
    top: -7px;
    animation: shake_blue 1s infinite ease-out; }
  .background-art_heart .heart_red:before {
    content: url(../images/arts/heart_red.png);
    position: absolute;
    left: -2px;
    top: -2px;
    animation: shake_red 1s infinite ease-out; }
  .background-art_heart .heart_black:before {
    content: url(../images/arts/heart.png);
    position: absolute;
    animation: shake_black 1s infinite ease-out; }
  @media (min-width: 768px) {
    .background-art_heart {
      left: 60px;
      top: 275px; } }
  @media (min-width: 1280px) {
    .background-art_heart {
      left: 400px;
      top: 115px; } }

.background-art_brain {
  position: absolute;
  left: 295px;
  top: 45px;
  z-index: -888; }
  @media (min-width: 1280px) {
    .background-art_brain {
      left: 550px;
      top: 155px; } }
  .background-art_brain .brain_blue:before {
    content: url(../images/arts/brain_blue.png);
    position: absolute;
    left: -7px;
    top: -7px;
    animation: shake_blue 1s infinite ease-out; }
  .background-art_brain .brain_red:before {
    content: url(../images/arts/brain_red.png);
    position: absolute;
    left: -2px;
    top: -2px;
    animation: shake_red 1s infinite ease-out; }
  .background-art_brain .brain_black:before {
    content: url(../images/arts/brain.png);
    position: absolute;
    animation: shake_black 1s infinite ease-out; }

.background-art_eye {
  position: absolute;
  left: 70px;
  top: -50px;
  z-index: -888; }
  @media (min-width: 1280px) {
    .background-art_eye {
      left: 50px;
      top: -20px; } }
  .background-art_eye .eye_blue:before {
    content: url(../images/arts/eye_blue.png);
    position: absolute;
    left: -7px;
    top: -7px;
    animation: shake_blue 1s infinite ease-out; }
  .background-art_eye .eye_red:before {
    content: url(../images/arts/eye_red.png);
    position: absolute;
    left: -2px;
    top: -2px;
    animation: shake_red 1s infinite ease-out; }
  .background-art_eye .eye_black:before {
    content: url(../images/arts/eye.png);
    position: absolute;
    animation: shake_black 1s infinite ease-out; }

.background-art_mouth {
  position: absolute;
  left: 160px;
  top: 100px;
  z-index: -888; }
  @media (min-width: 1280px) {
    .background-art_mouth {
      top: 80px;
      left: 680px; } }
  .background-art_mouth .mouth_blue:before {
    content: url(../images/arts/mouth_blue.png);
    position: absolute;
    left: -7px;
    top: -7px;
    animation: shake_blue 1s infinite ease-out; }
  .background-art_mouth .mouth_red:before {
    content: url(../images/arts/mouth_red.png);
    position: absolute;
    left: -2px;
    top: -2px;
    animation: shake_red 1s infinite ease-out; }
  .background-art_mouth .mouth_black:before {
    content: url(../images/arts/mouth.png);
    position: absolute;
    animation: shake_black 1s infinite ease-out; }

.background-art_ear {
  position: absolute;
  right: 200px;
  top: -35px;
  z-index: -888; }
  @media (min-width: 1280px) {
    .background-art_ear {
      right: 420px; } }
  .background-art_ear .ear_blue:before {
    content: url(../images/arts/ear_blue.png);
    position: absolute;
    left: -7px;
    top: -7px;
    animation: shake_blue 1s infinite ease-out; }
  .background-art_ear .ear_red:before {
    content: url(../images/arts/ear_red.png);
    position: absolute;
    left: -2px;
    top: -2px;
    animation: shake_red 1s infinite ease-out; }
  .background-art_ear .ear_black:before {
    content: url(../images/arts/ear.png);
    position: absolute;
    animation: shake_black 1s infinite ease-out; }

@font-face {
  font-family: 'gotham_bookregular';
  src: url("../fonts/fontkit-gotham/gotham_book.eot");
  src: url("../fonts/fontkit-gotham/gotham_book.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-gotham/gotham_book.woff2") format("woff2"), url("../fonts/fontkit-gotham/gotham_book.woff") format("woff"), url("../fonts/fontkit-gotham/gotham_book.ttf") format("truetype"), url("../fonts/fontkit-gotham/gotham_book.svg#gotham_bookregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_blackregular';
  src: url("../fonts/fontkit-gotham/gotham-black.eot");
  src: url("../fonts/fontkit-gotham/gotham-black.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-gotham/gotham-black.woff2") format("woff2"), url("../fonts/fontkit-gotham/gotham-black.woff") format("woff"), url("../fonts/fontkit-gotham/gotham-black.ttf") format("truetype"), url("../fonts/fontkit-gotham/gotham-black.svg#gotham_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/fontkit-gotham/gotham-bold.eot");
  src: url("../fonts/fontkit-gotham/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-gotham/gotham-bold.woff2") format("woff2"), url("../fonts/fontkit-gotham/gotham-bold.woff") format("woff"), url("../fonts/fontkit-gotham/gotham-bold.ttf") format("truetype"), url("../fonts/fontkit-gotham/gotham-bold.svg#gotham_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/fontkit-gotham/gotham-light.eot");
  src: url("../fonts/fontkit-gotham/gotham-light.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-gotham/gotham-light.woff2") format("woff2"), url("../fonts/fontkit-gotham/gotham-light.woff") format("woff"), url("../fonts/fontkit-gotham/gotham-light.ttf") format("truetype"), url("../fonts/fontkit-gotham/gotham-light.svg#gotham_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/fontkit-gotham/gotham-medium.eot");
  src: url("../fonts/fontkit-gotham/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-gotham/gotham-medium.woff2") format("woff2"), url("../fonts/fontkit-gotham/gotham-medium.woff") format("woff"), url("../fonts/fontkit-gotham/gotham-medium.ttf") format("truetype"), url("../fonts/fontkit-gotham/gotham-medium.svg#gotham_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-CondExtraBoldObl.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-CondExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-CondExtraBoldObl.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-CondExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std--Bold';
  src: url("../fonts/fontkit-futura/FuturaStd-Bold.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-Bold.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedLightObl.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedLightObl.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-CondensedLightObl.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-CondensedLightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedOblique.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-CondensedOblique.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-CondensedOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-HeavyOblique.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-HeavyOblique.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-HeavyOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-BoldOblique.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-BoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-BoldOblique.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std--Light';
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedLight.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-CondensedLight.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-CondensedLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-BookOblique.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-BookOblique.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std--Medium';
  src: url("../fonts/fontkit-futura/FuturaStd-Medium.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-Medium.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-Book.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-Book.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std--Condensed';
  src: url("../fonts/fontkit-futura/FuturaStd-Condensed.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-Condensed.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-Condensed.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-ExtraBoldOblique.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-ExtraBoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-ExtraBoldOblique.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-ExtraBoldOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std--ExtraBold';
  src: url("../fonts/fontkit-futura/FuturaStd-ExtraBold.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-ExtraBold.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-MediumOblique.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-MediumOblique.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std--Heavy';
  src: url("../fonts/fontkit-futura/FuturaStd-Heavy.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-Heavy.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-LightOblique.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-LightOblique.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-Light.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-Light.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std--BoldCondensed';
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedBold.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-CondensedBold.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedBoldObl.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-CondensedBoldObl.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-CondensedBoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedExtraBd.eot");
  src: url("../fonts/fontkit-futura/FuturaStd-CondensedExtraBd.eot?#iefix") format("embedded-opentype"), url("../fonts/fontkit-futura/FuturaStd-CondensedExtraBd.woff") format("woff"), url("../fonts/fontkit-futura/FuturaStd-CondensedExtraBd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
body, div, section, article, header, main, footer, nav, ul, li, a, span, button, form, input, textarea, h1, h2, h3, h4, h5, p, picture, img, video {
  background: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: white;
  position: relative;
  width: 100%;
  z-index: -999; }

.main_page {
  background: linear-gradient(-120deg, #702c91 -20%, #ed145b, #f7941e);
  background: -moz-linear-gradient(-120deg, #702c91 -20%, #ed145b, #f7941e);
  background: -webkit-linear-gradient(-120deg, #702c91 -20%, #ed145b, #f7941e);
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: -5; }

.container__flexbox {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex; }

.content {
  position: relative;
  width: 100%;
  z-index: 999; }

.main_content {
  margin: 0 auto;
  position: relative;
  width: 280px; }
  @media (min-width: 768px) {
    .main_content {
      width: 706px; } }
  @media (min-width: 1280px) {
    .main_content {
      width: 1040px; } }

.container {
  margin: 0 auto;
  width: 100%; }

.wrapper--md {
  margin: 0 auto;
  width: 240px; }
  @media (min-width: 768px) {
    .wrapper--md {
      width: 365px; } }

@media (min-width: 768px) {
  .wrapper-clients {
    margin: 100px 0; } }
@media (min-width: 1280px) {
  .wrapper-clients {
    position: relative;
    height: 400px; } }

.marker {
  color: #fff200;
  font-family: 'gotham_boldregular';
  font-size: 16px;
  line-height: 20px;
  padding: 25px 0 0;
  text-transform: uppercase; }
  .marker span {
    font-style: italic; }

.marker--opensans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 2px; }

.marker--opensans--italic {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 2px; }

.resume {
  font-family: 'gotham_bookregular';
  line-height: 26px; }

.box__title {
  border: 8px solid #fff;
  margin: 35px auto;
  padding: 16px 0;
  height: 240px;
  width: 240px;
  text-align: center; }
  @media (min-width: 768px) {
    .box__title {
      margin: 0;
      padding: 0;
      box-sizing: border-box; }
      .box__title h3 {
        font-size: 32px;
        text-transform: uppercase; } }

.contact {
  padding: 20px 0; }
  @media (min-width: 768px) {
    .contact {
      padding: 25px 0;
      width: 300px; } }
  @media (min-width: 1280px) {
    .contact {
      margin: 0 0 0 80px;
      width: 400px; } }

.titles__contact {
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .titles__contact {
      font-size: 32px; } }

.contact__titles--title-main {
  font-size: 24px;
  text-align: right;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .contact__titles--title-main {
      font-size: 32px; } }

.contact__titles--title1 {
  font-family: 'Futura Std--Heavy'; }

.contact__titles--title2 {
  font-family: 'Futura Std--ExtraBold'; }

.contact__titles--title3 {
  font-family: 'Futura Std--BoldCondensed'; }

.contact__titles--title4 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 100; }

@media (min-width: 768px) {
  .contact__flexbox {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex; } }

.infos {
  margin: 15px auto 0; }
  @media (min-width: 768px) {
    .infos {
      margin: 25px 0 0; } }
  @media (min-width: 1280px) {
    .infos {
      width: 640px; } }

.infos-text {
  list-style: none;
  font-family: 'gotham_bookregular';
  font-size: 15px;
  line-height: 22px; }
  @media (min-width: 768px) {
    .infos-text {
      border: 8px solid #fff;
      font-family: 'Open Sans',sans-serif;
      font-style: italic;
      font-weight: 100;
      padding: 18px 10px;
      text-transform: uppercase;
      width: 250px; }
      .infos-text li {
        margin: 12px 0; } }

.footing-navbar {
  margin: 35px auto; }

.footing-navbar-social {
  list-style: none; }

.footing-social_list {
  display: inline-block;
  margin: 0 12px; }

.page_header {
  margin: 30px auto 0; }
  @media (min-width: 768px) {
    .page_header {
      margin: 90px auto 0; } }

.page_header__flexbox {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.page_header__brand {
  border: 10px solid #fff;
  margin: 75px auto 50px;
  height: 280px;
  width: 280px; }
  @media (min-width: 768px) {
    .page_header__brand {
      border: 0;
      margin: -100px 0 0; } }
  @media (min-width: 1280px) {
    .page_header__brand {
      margin: 100px 0 0; } }

.page_header__brand__logo {
  margin: 100px 25px 30px;
  width: 208px; }
  @media (min-width: 768px) {
    .page_header__brand__logo {
      margin: 100px 0 0;
      width: 170px; } }
  .page_header__brand__logo span:before {
    content: url(../images/brand.png); }
    @media (min-width: 768px) {
      .page_header__brand__logo span:before {
        content: url(../images/brand-md.png);
        position: absolute;
        top: 0; } }
    @media (min-width: 1280px) {
      .page_header__brand__logo span:before {
        content: url(../images/brand-md.png);
        position: absolute;
        top: 150px; } }

.brand__tags {
  list-style: none; }
  @media (min-width: 768px) {
    .brand__tags {
      margin: 0px 0 0 175px; } }
  @media (min-width: 1280px) {
    .brand__tags {
      margin: -50px 0 0 175px; } }

.brand__tags__list {
  color: #fff200;
  font-family: 'Futura Std--Bold';
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  margin: 3px 0;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .brand__tags__list {
      text-align: left; } }

.page_header--experience {
  display: none; }
  @media (min-width: 768px) {
    .page_header--experience {
      display: block;
      border: 10px solid #fff;
      margin: 150px 0;
      height: 300px;
      width: 300px; } }
  @media (min-width: 1280px) {
    .page_header--experience {
      margin: 0 100px;
      height: 290px;
      width: 290px; } }

.page_header__titles--experience {
  font-family: 'Futura Std--Bold';
  padding: 200px 50px 0;
  text-transform: uppercase; }

.page_header__navegation {
  position: relative;
  width: 100%;
  -webkit-order: -1;
  -moz-order: -1;
  -ms-order: -1;
  order: -1; }

.page_header__navbar {
  position: absolute;
  right: 0; }

.navbar__social {
  display: inline-block; }

.navbar__link {
  margin: 0 10px; }

.page_header--emotional {
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .page_header--emotional {
      margin-left: 280px; } }
  @media (min-width: 1280px) {
    .page_header--emotional {
      margin: -95px 0 0 665px; } }

.page_header__title--emotional {
  font-size: 42px;
  font-family: 'Futura Std--ExtraBold';
  font-weight: 800; }
  @media (min-width: 768px) {
    .page_header__title--emotional {
      font-size: 62px;
      line-height: 60px;
      width: 420px; } }
  .page_header__title--emotional .title--futura {
    font-family: 'Futura Std--Light';
    font-weight: 300; }

.page_header__text--emotional {
  font-family: 'gotham_bookregular';
  font-size: 13px;
  line-height: 20px;
  padding: 35px 10px 35px 0; }
  @media (min-width: 768px) {
    .page_header__text--emotional {
      font-size: 16px;
      line-height: 28px;
      width: 380px; } }

.container__title--spirit {
  color: #fff200;
  font-family: 'gotham_boldregular';
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }
  @media (min-width: 1280px) {
    .container__title--spirit {
      width: 200px;
      position: absolute; } }

.container__subtitle--spirit {
  font-size: 64px;
  height: 175px;
  width: 632px;
  margin: 0 auto 60px;
  position: relative;
  text-transform: uppercase; }
  @media (min-width: 1280px) {
    .container__subtitle--spirit {
      font-size: 36px;
      margin: 0 0 0 220px;
      width: 340px; } }
  .container__subtitle--spirit .title--1, .container__subtitle--spirit .title--4 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 4px; }
  .container__subtitle--spirit .title--2 {
    font-family: 'Futura Std--ExtraBold';
    letter-spacing: 2px; }
  .container__subtitle--spirit .title--3, .container__subtitle--spirit .box__titles .title--4, .box__titles .container__subtitle--spirit .title--4 {
    font-family: 'Futura Std--Condensed';
    padding-bottom: 50px;
    letter-spacing: 2px; }
  .container__subtitle--spirit .title--4 {
    font-size: 125px;
    letter-spacing: 10px;
    position: absolute;
    top: 55px; }
    @media (min-width: 1280px) {
      .container__subtitle--spirit .title--4 {
        font-size: 48px; } }

.container__column--spirit {
  display: none; }
  @media (min-width: 768px) {
    .container__column--spirit {
      display: block; } }
  @media (min-width: 1280px) {
    .container__column--spirit {
      margin: 100px 0 0; } }

.container__summary--spirit {
  color: #fff200;
  font-family: 'gotham_mediumregular';
  line-height: 26px;
  margin: 0 auto;
  width: 540px; }
  @media (min-width: 1280px) {
    .container__summary--spirit {
      font-size: 14px;
      margin: 0;
      width: 390px;
      position: absolute; } }

.container__flexbox--spirit {
  flex-direction: column;
  -webkit-flex-direction: column; }
  @media (min-width: 1280px) {
    .container__flexbox--spirit {
      flex-direction: row;
      -webkit-flex-direction: row;
      width: 100%; } }

.container__flexbox--spirit--type {
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 0; }
  @media (min-width: 768px) {
    .container__flexbox--spirit--type {
      margin: 0 auto;
      width: 540px; } }
  @media (min-width: 1280px) {
    .container__flexbox--spirit--type {
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      flex-direction: row;
      width: 1000px; } }

.container__resume--spirit {
  margin: 50px auto; }
  @media (min-width: 1280px) {
    .container__resume--spirit {
      width: 300px; } }

.resume__icon {
  border: 6px solid #fff;
  height: 100px;
  width: 100px; }
  @media (min-width: 1280px) {
    .resume__icon {
      border: 3px solid #fff;
      height: 50px;
      width: 50px; } }

.resume__icon {
  position: relative; }
  .resume__icon .resume__icon--branding:before {
    content: url(../images/icons/essence_branding.png);
    position: absolute;
    padding: 20px; }
    @media (min-width: 1280px) {
      .resume__icon .resume__icon--branding:before {
        content: url(../images/icons/essence_branding__xs.png);
        padding: 10px 8px; } }
  .resume__icon .resume__icon--intelligence:before {
    content: url(../images/icons/essence_intelligence.png);
    position: absolute;
    padding: 15px 20px; }
    @media (min-width: 1280px) {
      .resume__icon .resume__icon--intelligence:before {
        content: url(../images/icons/essence_intelligence__xs.png);
        padding: 6px 8px; } }
  .resume__icon .resume__icon--social:before {
    content: url(../images/icons/essence_social.png);
    position: absolute;
    padding: 18px; }
    @media (min-width: 1280px) {
      .resume__icon .resume__icon--social:before {
        content: url(../images/icons/essence_social__xs.png);
        padding: 8px 6px; } }

.resume__brief--spirit {
  font-family: 'gotham_bookregular';
  font-size: 15px;
  margin: 0 0 0 50px;
  line-height: 27px;
  width: 390px; }
  @media (min-width: 1280px) {
    .resume__brief--spirit {
      margin: 0 0 0 20px;
      width: 250px; } }

.wrapper {
  position: relative; }
  .wrapper:before {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    height: 4px;
    width: 30px; }

@media (min-width: 768px) {
  .wrapper-process {
    margin-top: 75px; } }

.box__title--track {
  border: 7px solid #fff;
  margin: 35px 0;
  padding: 10px 0;
  width: 100%;
  text-align: center; }
  .box__title--track h3 {
    font-family: 'Futura Std--ExtraBold';
    font-size: 28px;
    margin: 0 auto;
    width: 150px; }
  .box__title--track span {
    font-family: 'Futura Std--Medium'; }
  @media (min-width: 768px) {
    .box__title--track {
      border: 8px solid #fff;
      margin: 35px 55px;
      padding: 165px 0 0;
      height: 300px;
      width: 300px; }
      .box__title--track h3 {
        font-size: 48px;
        width: 245px; } }
  @media (min-width: 1280px) {
    .box__title--track {
      margin: 35px auto;
      padding: 25px 0 0;
      height: 250px;
      width: 250px; }
      .box__title--track h3 {
        font-size: 36px;
        width: 180px; } }

.summary--process {
  margin: 0 auto;
  position: relative;
  width: 100%; }
  @media (min-width: 768px) {
    .summary--process {
      width: 570px; } }
  @media (min-width: 1280px) {
    .summary--process {
      width: 100%; } }

.summary__illustration--process {
  margin: 35px auto;
  position: relative;
  height: 215px;
  width: 280px; }
  @media (min-width: 768px) {
    .summary__illustration--process {
      margin: 0 25px 80px;
      height: 325px;
      width: 440px; } }
  @media (min-width: 1280px) {
    .summary__illustration--process {
      margin: 0 0 80px;
      height: 325px;
      width: 440px; } }
  .summary__illustration--process span:before {
    content: url(../images/track-cicle.png);
    position: absolute;
    width: 50%; }
    @media (min-width: 768px) {
      .summary__illustration--process span:before {
        content: url(../images/track-cicle_md.png); } }

.wrapper--process {
  flex-direction: column; }
  @media (min-width: 768px) {
    .wrapper--process {
      flex-direction: row; } }
  @media (min-width: 1280px) {
    .wrapper--process {
      flex-direction: column;
      position: absolute;
      right: 110px;
      top: 460px;
      width: 400px; } }

@media (min-width: 768px) {
  .resume--process {
    padding-right: 50px;
    width: 300px; } }

@media (min-width: 768px) {
  .description--process {
    width: 265px; } }

.resume__title--process {
  color: #fff200;
  font-family: 'gotham_boldregular';
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto 30px;
  text-transform: uppercase; }

.description--process--track {
  font-family: 'gotham_bookregular';
  font-size: 13px;
  line-height: 22px;
  margin: 0 auto 35px;
  padding-right: 5px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .description--process--track {
      text-transform: none; } }

.infos-contact {
  position: relative; }
  .infos-contact:before {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    height: 4px;
    width: 30px; }
  @media (min-width: 1280px) {
    .infos-contact {
      margin-top: 180px; } }

.wrapper--pillars {
  margin: 0 0 75px;
  width: 100%; }
  @media (min-width: 768px) {
    .wrapper--pillars .marker {
      display: none; } }
  @media (min-width: 1280px) {
    .wrapper--pillars {
      margin: 175px 0 75px; } }

@media (min-width: 768px) {
  .entry-pillars {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    margin: 100px 0 55px; } }
@media (min-width: 1280px) {
  .entry-pillars {
    margin: 0; } }

.pillars {
  margin: 30px 0;
  padding: 0 20px;
  width: 280px; }
  @media (min-width: 768px) {
    .pillars {
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      display: flex;
      margin: 0 0 90px;
      width: 700px; } }
  @media (min-width: 1280px) {
    .pillars {
      -webkit-display: block;
      -moz-display: block;
      -ms-display: block;
      display: block;
      border: 8px solid #fff;
      margin: 0;
      padding: 0 10px;
      position: relative;
      height: 150px;
      width: 150px;
      word-wrap: break-word;
      overflow: hidden; } }

.intro--pillars .marker {
  display: none; }
  @media (min-width: 768px) {
    .intro--pillars .marker {
      display: block;
      margin: 10px 20px 0; } }

.box__title--pillars {
  margin: 35px auto;
  font-size: 32px;
  text-transform: uppercase; }
  @media (min-width: 1280px) {
    .box__title--pillars {
      margin: 35px 0 0; } }

.box__titles {
  margin: 35px auto;
  line-height: 20px;
  height: 165px;
  width: 158px; }
  .box__titles .title--1, .box__titles .container__subtitle--spirit .title--4, .container__subtitle--spirit .box__titles .title--4 {
    font-family: 'Futura Std--Condensed';
    letter-spacing: 11px; }
  .box__titles .title--2 {
    font-family: 'Futura Std--ExtraBold';
    letter-spacing: 8px; }
  .box__titles .title--3, .box__titles .title--4 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 50px;
    text-align: right; }
  .box__titles .title--4 {
    padding-left: 65px; }
  @media (min-width: 768px) {
    .box__titles {
      margin: 65px auto 0;
      line-height: 16px; } }

.resume--pillars {
  padding: 0 18px;
  width: 280px; }
  @media (min-width: 768px) {
    .resume--pillars {
      margin: 30px 0 0;
      width: 450px; } }
  @media (min-width: 1280px) {
    .resume--pillars {
      margin: 30px 0 0;
      width: 500px; } }

@media (min-width: 768px) {
  .intro {
    position: relative;
    width: 275px; } }
@media (min-width: 1280px) {
  .intro {
    width: 100%; } }

.intro__title {
  color: #fff200;
  font-family: 'Futura Std--ExtraBold';
  font-size: 24px; }
  @media (min-width: 768px) {
    .intro__title {
      color: #fff;
      font-family: 'gotham_boldregular'; } }
  @media (min-width: 1280px) {
    .intro__title {
      font-size: 28px;
      margin: 30px auto;
      word-wrap: break-word; } }

.intro__resume {
  margin: 10px 0; }
  @media (min-width: 1280px) {
    .intro__resume {
      position: absolute;
      left: -800px; } }

@media (min-width: 768px) {
  .service__list {
    width: 300px; } }
@media (min-width: 1280px) {
  .service__list {
    position: absolute;
    left: -800px;
    top: 130px; } }

.intro__list {
  display: none; }
  @media (min-width: 768px) {
    .intro__list {
      display: inline-block;
      margin: 0 0 25px 75px;
      list-style: none;
      width: 320px; } }
  @media (min-width: 1280px) {
    .intro__list {
      margin: 15px 0 0; } }
  .intro__list .intro__list__title {
    color: #fff200;
    font-family: 'gotham_mediumregular'; }
  .intro__list .intro__list__item {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 3px 0; }

@media (min-width: 1280px) {
  .intro__title--branding {
    letter-spacing: 1px;
    margin: 40px auto;
    text-align: center;
    width: 100px; } }
@media (min-width: 768px) {
  .intro__title--branding:before {
    content: url(../images/icons/icon_branding-yellow.png);
    position: absolute;
    top: -45px;
    left: -10px; } }
@media (min-width: 1280px) {
  .intro__title--branding:before {
    top: -300px; } }

@media (min-width: 1280px) {
  .intro__title--intelligence {
    letter-spacing: 2px;
    text-align: center;
    width: 100px; } }
@media (min-width: 768px) {
  .intro__title--intelligence:before {
    content: url(../images/icons/icon_intelligence-yellow.png);
    position: absolute;
    top: -45px;
    left: -10px; } }
@media (min-width: 1280px) {
  .intro__title--intelligence:before {
    top: -300px; } }

@media (min-width: 1280px) {
  .intro__title--social {
    letter-spacing: 5px;
    margin: 40px auto;
    text-align: center;
    width: 90px; } }
@media (min-width: 768px) {
  .intro__title--social:before {
    content: url(../images/icons/icon_social-yellow.png);
    position: absolute;
    top: -45px;
    left: -10px; } }
@media (min-width: 1280px) {
  .intro__title--social:before {
    top: -300px; } }

@media (min-width: 1280px) {
  .grid-blocks {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    padding-left: 240px; } }

.block-unit {
  background: gray;
  border: 6px solid #fff;
  height: 150px;
  width: 150px; }
  .block-unit h1 {
    color: #fff;
    font-family: 'gotham_boldregular';
    font-size: 32px;
    margin: 10%;
    letter-spacing: 3px;
    text-align: left;
    width: 80%;
    word-wrap: break-word; }

@media (min-width: 1280px) {
  .block-unit-intelligence {
    margin-top: 150px; } }

@media (min-width: 1280px) {
  .currentAnimate {
    height: 465px;
    width: 465px;
    -webkit-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out; }
    .currentAnimate .intro__title--branding:before {
      top: -15px;
      left: 210px;
      -webkit-transition: all 2.5s ease-in;
      transition: all 2.5s ease-in; }
    .currentAnimate .intro__title--intelligence:before {
      top: -15px;
      left: 260px;
      -webkit-transition: all 2.5s ease-in;
      transition: all 2.5s ease-in; }
    .currentAnimate .intro__title--social:before {
      top: -15px;
      left: 165px;
      -webkit-transition: all 2.5s ease-in;
      transition: all 2.5s ease-in; }
    .currentAnimate .intro__title {
      width: 250px;
      margin: 45px 0 0 35px;
      letter-spacing: 0;
      text-align: left;
      transition: all 1.8s ease-in-out; }
    .currentAnimate .currentChild {
      font-size: 13px;
      position: absolute;
      left: 90px;
      width: 320px;
      -webkit-transition: left 2.2s ease-in-out;
      transition: left 2.2s ease-in-out; }
    .currentAnimate .intro__resume {
      left: 80px; } }

@media (min-width: 768px) {
  .title-basic_clients {
    position: absolute;
    right: 100px;
    top: 45px; } }
@media (min-width: 1280px) {
  .title-basic_clients {
    right: 340px;
    top: 75px; } }

.top__clients {
  display: none;
  position: relative;
  width: 100%; }
  @media (min-width: 768px) {
    .top__clients {
      display: block; } }
  .top__clients:before {
    display: none; }
    @media (min-width: 768px) {
      .top__clients:before {
        border: 8px solid #fff;
        content: "";
        display: block;
        position: absolute;
        left: 40px;
        top: 60px;
        height: 250px;
        width: 250px; } }
    @media (min-width: 1280px) {
      .top__clients:before {
        left: 600px; } }

.title__clients {
  font-family: 'Futura Std--ExtraBold';
  font-size: 36px;
  position: absolute;
  top: 100px;
  left: 310px;
  text-transform: uppercase; }
  .title__clients .title--futurah {
    font-family: 'Futura Std--Heavy'; }
  @media (min-width: 1280px) {
    .title__clients {
      top: 50px;
      left: 400px;
      text-align: right; } }

.flexbox-clients {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.clients {
  margin: 40px auto 120px;
  width: 280px; }
  @media (min-width: 768px) {
    .clients {
      padding: 360px 0 0;
      width: 560px; } }
  @media (min-width: 1280px) {
    .clients {
      position: absolute;
      padding: 165px 0 0;
      top: 0; } }

.logos-clients {
  margin: 5px;
  height: 90px;
  width: 130px; }

.logos-clients_image__intel {
  margin: 0 5px;
  width: 120px; }

.logos-clients_image__joga {
  margin: 25px 5px;
  width: 120px; }

.logos-clients_image__nivaa {
  margin: 20px 5px;
  width: 120px; }

.logos-clients_image__1100 {
  margin: 0 15px;
  width: 100px; }

.logos-clients_image__sollo {
  margin: 20px 5px;
  width: 120px; }

.logos-clients_image__agua {
  margin: 15px 10px;
  width: 110px; }

.logos-clients_image__meta {
  margin: 25px 5px;
  width: 120px; }

.logos-clients_image__frei {
  margin: 20px 7px;
  width: 120px; }

/*# sourceMappingURL=main.css.map */
