.content-methodology{

}
.inwrapper{
	position: relative;
	&:before{
		content: "";
		background: #fff;
		position: absolute;
		top: 0;
		height: 4px;
		width: 30px;
	}
}
.inwrapper-method{

}
.title-basic{
	color: $color-yellow;
	padding: 25px 0 0;
	text-transform: uppercase;
	span{
		font-style: italic;
	}
}
.block-title{
	border: 8px solid #fff;
	margin: 35px auto;
	padding: 16px 0;
	text-align: center;
}
.circle-method{
	margin: 35px -10px;
	height: 215px;
	width: 295px;
}
.track-title{
	margin: 35px auto;
}
.track-text{
	margin: 35px auto;
}
.products-resume{
	margin: 35px auto;
}
.products-description{
	margin: 40px auto;
}
.products-subtitle{
	color: $color-yellow;
}
.products-subtext{
	margin: 20px auto;
}
.infos-contact{
	position: relative;
	&:before{
		content: "";
		background: #fff;
		position: absolute;
		top: 0;
		height: 4px;
		width: 30px;
	}
}
.contact{
	padding: 20px 0;
}
.infos{
	margin: 15px auto 0;
}
.infos-text{
	list-style: none;
}
.footing-navbar{
	margin: 35px auto 5px;
}
.footing-navbar-social{
	list-style: none;
}
.footing-social_list{
	display: inline-block;
	margin: 0 15px;
}