// Nossos Clientes
.title-basic_clients{
	@media (min-width: 768px){
		position: absolute;
		right: 100px;
		top: 45px;
	}
	@media (min-width: 1280px) {
		right: 340px;
		top: 75px;
	}
}
.top__clients{
	display: none;
	position: relative;
	width: 100%;
	@media (min-width: 768px) {
		display: block;
	}
	&:before{
		display: none;
		@media (min-width: 768px){
			border: 8px solid #fff;
			content:"";
			display: block;
			position: absolute;
			left: 40px;
			top: 60px;
			height: 250px;
			width: 250px;
		}
		@media (min-width: 1280px){
			height: 230px;
			width: 230px;
			left: 630px;
			top: 0;
		}
	}
}
.title__clients{
	font-family: 'Futura Std--ExtraBold';
	font-size: 36px;
	position: absolute;
	top: 100px;
	left: 310px;
	text-transform: uppercase;
	.title--futurah{
		font-family: 'Futura Std--Heavy';
	}
	@media (min-width: 1280px){
		top: -10px;
		left: 440px;
		font-size: 34px;
		text-align: right;
	}
}
.flexbox-clients{
	@include flex-wrap (wrap);
}
.clients{
	margin: 40px auto 120px;
	width: 280px;
	@media (min-width: 768px){
		padding: 360px 0 0;
		width: 560px;
	}
	@media (min-width: 1280px){
		position: absolute;
		padding: 65px 0 0;
		top: 0;
	}
}
.logos-clients{
	margin: 5px;
	height: 90px;
	width: 130px;
}
.logos-clients_image{
	width: 120px;
}
.logos-clients_image__intel{
	margin: 0 5px;
	@media (min-width: 768px) {
		display: none;
	}
}
.logos-clients_image__intel-lg{
	display: none;
	@media (min-width: 768px) {
		display: block;
		margin: 45px 0;
	}
}

.logos-clients_image__joga{
	margin: 25px 5px;
	@media (min-width: 768px) {
		margin: 50px 5px;
	}
}
.logos-clients_image__nivaa{
	margin: 20px 5px;
}
.logos-clients_image__1100{
	margin: 0 15px;
}
.logos-clients_image__sollo{
	margin: 20px 5px;
}
.logos-clients_image__agua{
	margin: 15px 10px;
	@media (min-width: 768px) {
		display: none;
	}
}
.logos-clients_image__agua-lg{
	display: none;
	@media (min-width: 768px) {
		display: block;
		margin: 30px 0;
	}
}
.logos-clients_image__meta{
	margin: 25px 5px;
}
.logos-clients_image__frei{
	margin: 20px 7px;
}