.page_header{
	margin: 30px auto 0;
	@media (min-width: 768px){
		margin: 90px auto 0;
	}
}
.page_header__flexbox{
	@include flex-wrap (wrap);
}
// Header Brand
.page_header__brand{
	border: 10px solid #fff;
	margin: 75px auto 50px;
	height: 280px;
	width: 280px;
	@media (min-width: 768px){
		border: 0;
		margin: -100px 0 0 20px;
	}
	@media (min-width: 1280px){
		margin: 100px 0 0;
	}
}
.page_header__brand__logo{
	margin: 100px 25px 30px;
	width: 208px;
	@media (min-width: 768px){
		margin: 100px 0 0;
		width: 170px;
	}
	span:before{
		content: url(../images/brand.png);
		@media (min-width: 768px){
			content: url(../images/brand-md.png);
			position: absolute;
			top: 0;
		}
		@media (min-width: 1280px){
			content: url(../images/brand-md.png);
			position: absolute;
			top: 200px;
			left: 20px;
		}
	}
}
.brand__tags{
	list-style: none;
	@media (min-width: 768px){
		margin: 0px 0 0 175px;
	}
	@media (min-width: 1280px){
		margin: 0 0 0 215px;
		.brand__tags__list{
			font-size: 14px;
			line-height: 14px;
		}
	}
}
.brand__tags__list{
	color: $color-yellow;
	font-family: 'Futura Std--Bold';
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	margin: 3px 0;
	text-align: center;
	text-transform: uppercase;
	@media (min-width: 768px){
		text-align: left;
	}
}

// Unificamos Experiências 
.page_header--experience{
	display: none;
	overflow: hidden;
	@media (min-width: 768px){
		display: block;
		border: 10px solid #fff;
		margin: 110px 0 180px;
		height: 300px;
		width: 300px;
	}
	@media (min-width: 1280px){
		margin: 0 100px;
		height: 290px;
		width: 290px;
	}
	.slider--random{
		padding-top: 170px;
		position: relative;
	}
	.slider__titles{
		@include flexbox;
		position: absolute;
		animation: sliderTitles 4s steps(1) infinite;
	}
}
@keyframes sliderTitles{
	0%{left: 0;}
	30%{left: -270px;}
	60%{left: -510px;}
}
.page_header__titles--experience{
	font-family: 'Futura Std--Bold';
	font-size: 30px;
	line-height: 38px;
	padding: 0 35px;
	text-transform: uppercase;
	display: inline-block;
	span{
		font-family: 'Futura Std--Book';
	}
}
// Header Navbar Social
.page_header__navegation{ 
	position: relative;
	width: 100%;
	@include flex-order(-1);
}
.page_header__navbar{
	position: absolute;
	right: 0;
}
.navbar__social{
	display: inline-block;
}
.navbar__link{
	margin: 0 10px;
}
.navbar__social--mail{
	color: $color-yellow;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
	position: absolute;
	top: 32px;
	left: 10px;	
}

// Heart Animation
@keyframes downHeart{
	from{opacity: 1;top: 570px;}
	to{opacity: 0;top: 800px;}
}
.mini_heart{
	opacity: 0;
	visibility: hidden;
	@media (min-width: 768px) {
		margin: 0 auto;
		position: relative;
		height: 50px;
		width: 32px;
		opacity: 1;
		visibility: visible;
	}
	&:after{
		content: "";
		background: #fff;
		bottom: 0;
		height: 4px;
		width: 30px;
		position: absolute;
	}
	@media (min-width: 1280px) {
		margin: 0 49%;
		top: 570px;
		position: absolute;
		height: 50px;
		width: 32px;
		opacity: 1;
		visibility: visible;
		&:hover{
			animation: downHeart 2s ease-in;	
		}
	}	
}
@keyframes miniheart{
	0%{top: 0px;}
	35%{top: 4px;}
	60%{top: 15px;}
	80%{top: 8px;}
	100%{top: 3px;}
}

.mini_heart img{
	position: absolute;
	padding: 0 10px;
	left: -3px;
	animation: miniheart .9s linear infinite;
	transition: opacity 1s ease-in;
}
// Branding com emoção
.page_header--emotional{
	text-transform: uppercase;
	@media (min-width: 768px){
		margin: 0 0 20px 300px;
	}
	@media (min-width: 1280px){
		margin: -95px 0 0 665px;
	}
}
.page_header__title--emotional{
	font-size: 42px;
	font-family: 'Futura Std--ExtraBold';
	font-weight: 800;
	@media (min-width: 768px){
		font-size: 62px;
		line-height: 60px;
		width: 420px;
	}
	.title--futura{
		font-family: 'Futura Std--Light';
		font-weight: 300;
	}
}
.page_header__text--emotional{
	font-family: 'gotham_bookregular';
	font-size: 13px;
	line-height: 20px;
	padding: 35px 10px 35px 0;
	@media (min-width: 768px){
		font-size: 16px;
		line-height: 28px;
		width: 380px;
	}
	@media (min-width: 1280px) {
		font-size: 13px;
		padding: 46px 10px 35px 0;
		width: 310px;
	}
}