.page_header{
	margin: 30px auto 0;
	@media (min-width: 768px){
		margin: 90px auto 0;
	}
}
.page_header__flexbox{
	@include flex-wrap (wrap);
}
// Header Brand
.page_header__brand{
	border: 10px solid #fff;
	margin: 75px auto 50px;
	height: 280px;
	width: 280px;
	@media (min-width: 768px){
		border: 0;
		margin: -100px 0 0;
	}
	@media (min-width: 1280px){
		margin: 100px 0 0;
	}
}
.page_header__brand__logo{
	margin: 100px 25px 30px;
	width: 208px;
	@media (min-width: 768px){
		margin: 100px 0 0;
		width: 170px;
	}
	span:before{
		content: url(../images/brand.png);
		@media (min-width: 768px){
			content: url(../images/brand-md.png);
			position: absolute;
			top: 0;
		}
		@media (min-width: 1280px){
			content: url(../images/brand-md.png);
			position: absolute;
			top: 150px;
		}
	}
}
.brand__tags{
	list-style: none;
	@media (min-width: 768px){
		margin: 0px 0 0 175px;
	}
	@media (min-width: 1280px){
		margin: -50px 0 0 175px;
	}
}
.brand__tags__list{
	color: $color-yellow;
	font-family: 'Futura Std--Bold';
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	margin: 3px 0;
	text-align: center;
	text-transform: uppercase;
	@media (min-width: 768px){
		text-align: left;
	}
}

// Unificamos Experiências 
.page_header--experience{
	display: none;
	@media (min-width: 768px){
		display: block;
		border: 10px solid #fff;
		margin: 150px 0;
		height: 300px;
		width: 300px;
	}
	@media (min-width: 1280px){
		margin: 0 100px;
		height: 290px;
		width: 290px;
	}
}
.page_header__titles--experience{
	font-family: 'Futura Std--Bold';
	padding: 200px 50px 0;
	text-transform: uppercase;
}

// Header Navbar Social
.page_header__navegation{ 
	position: relative;
	width: 100%;
	@include flex-order(-1);
}
.page_header__navbar{
	position: absolute;
	right: 0;
}
.navbar__social{
	display: inline-block;
}
.navbar__link{
	margin: 0 10px;
}

// Branding com emoção
.page_header--emotional{
	text-transform: uppercase;
	@media (min-width: 768px){
		margin-left: 280px;
	}
	@media (min-width: 1280px){
		margin: -95px 0 0 665px;
	}
}
.page_header__title--emotional{
	font-size: 42px;
	font-family: 'Futura Std--ExtraBold';
	font-weight: 800;
	@media (min-width: 768px){
		font-size: 62px;
		line-height: 60px;
		width: 420px;
	}
	.title--futura{
		font-family: 'Futura Std--Light';
		font-weight: 300;
	}
}
.page_header__text--emotional{
	font-family: 'gotham_bookregular';
	font-size: 13px;
	line-height: 20px;
	padding: 35px 10px 35px 0;
	@media (min-width: 768px){
		font-size: 16px;
		line-height: 28px;
		width: 380px;
	}
}