// Nossa metodologia
.wrapper{
	position: relative;
	&:before{
		content: "";
		background: #fff;
		position: absolute;
		top: 0;
		height: 4px;
		width: 30px;
	}
}
.wrapper-process{
	@media (min-width: 768px) {
		margin-top: 75px;
	}
}
.box__title--track{
	border: 7px solid #fff;
	margin: 35px 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	h3{
		font-family: 'Futura Std--ExtraBold';
		font-size: 28px;
		margin: 0 auto;
		width: 150px;
	}
	span{
		font-family: 'Futura Std--Medium';
	}
	@media (min-width: 768px){
		border: 8px solid #fff;
		margin: 35px 55px;
		padding: 165px 0 0;
		height: 300px;
		width: 300px;
		h3{
			font-size: 48px;
			width: 245px;
		}
	}
	@media (min-width: 1280px){
		margin: 35px auto;
		padding: 25px 0 0;
		height: 250px;
		width: 250px;
		h3{
			font-size: 36px;
			width: 180px;
		}
	}
}
.summary--process{
	margin: 0 auto;
	position: relative;
	width: 100%;
	@media (min-width: 768px){
		width: 570px;
	}
	@media (min-width: 1280px){
		width: 100%;
	}
}
.summary__illustration--process{
	margin: 35px auto;
	position: relative;
	height: 215px;
	width: 280px;
	@media (min-width: 768px){
		margin: 0 25px 80px;
		height: 325px;
		width: 440px;
	}
	@media (min-width: 1280px){
		margin: 0 0 80px;
		height: 325px;
		width: 440px;
	}
	span:before{
		content: url(../images/track-cicle.png);
		position: absolute;
		width: 50%;
		@media (min-width: 768px){
			content: url(../images/track-cicle_md.png);
		}
	}
}
.wrapper--process{
	flex-direction: column;
	@media (min-width: 768px){
		flex-direction: row;
	}
	@media (min-width: 1280px){
		flex-direction: column;
		position: absolute;
		right: 110px;
		top: 460px;
		width: 400px;
	}
}
.resume--process{
	@media (min-width: 768px){
		padding-right: 50px;
		width: 300px;	
	}
	
}
.description--process{
	@media (min-width: 768px){
		width: 265px;
	}
}
.resume__title--process{
	color: $color-yellow;
	font-family: 'gotham_boldregular';
	font-size: 16px;
	line-height: 22px;
	margin: 0 auto 30px;
	text-transform: uppercase;
}
.description--process--track{
	font-family: 'gotham_bookregular';
	font-size: 13px;
	line-height: 22px;
	margin: 0 auto 35px;
	padding-right: 5px;
	text-transform: uppercase;
	@media (min-width: 768px){
		text-transform: none;
	}
	&:after{
		content: url(../images/graphs/graph4.png);
		position: absolute;
		left: 0;
		bottom: -75px;
		@media (min-width: 768px) {
			left: 300px;
		}
		@media (min-width: 1280px) {
			left: 0;
		}
	}
}
.infos-contact{
	position: relative;
	&:before{
		content: "";
		background: #fff;
		position: absolute;
		top: 0;
		height: 4px;
		width: 30px;
	}
	@media (min-width: 1280px) {
		margin-top: 180px
	}
}