// Nossos produtos
.wrapper--pillars{
	margin: 0 0 75px;
	width: 100%;
	@media (min-width: 768px) {
		.marker{
			display: none;
		}
	}
	@media (min-width: 1280px) {
		margin: 175px 0 75px;
	}
}
.entry-pillars{
	@media (min-width: 768px){
		@include flexbox;
		margin: 100px 0 55px;
	}
	@media (min-width: 1280px) {
		margin: 0;
	}
}
.pillars{
	margin: 30px 0;
	padding: 0 20px;
	width: 280px;
	@media (min-width: 768px) {
		@include flexbox;
		margin: 0 0 90px;
		width: 700px;
	}
	@media (min-width: 1280px) {
		@include flexblock;
		border: 8px solid #fff;
		margin: 0;
		padding: 0 10px;
		position: relative;
		height: 150px;
		width: 150px;
		word-wrap: break-word;
		overflow: hidden;
	}
}
.intro--pillars{
	.marker{
		display: none;
		@media (min-width: 768px) {
			display: block;
			margin: 10px 20px 0;
		}
	}
}
.box__title--pillars{
	margin: 35px auto;
	font-size: 32px;
	text-transform: uppercase;
	@media (min-width: 1280px){
		margin: 35px 0 0;
	}
}
.box__titles{
	margin: 35px auto;
	line-height: 20px;
	height: 165px;
	width: 158px;
	.title--1{
		font-family: 'Futura Std--Condensed';
		letter-spacing: 11px;
	}
	.title--2{
		font-family: 'Futura Std--ExtraBold';
		letter-spacing: 8px;
	}
	.title--3{
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
		font-weight: 100;
		line-height: 20px;
		letter-spacing: 50px;
		text-align: right;
	}
	.title--4{
		@extend .title--3;
		padding-left: 65px;
	}
	@media (min-width: 768px){
		margin: 65px auto 0;
		line-height: 16px;
	}
}
.resume--pillars{
	padding: 0 18px;
	width: 280px;
	@media (min-width: 768px) {
		margin: 30px 0 0;
		width: 450px;
	}
	@media (min-width: 1280px) {
		margin: 30px 0 0;
		width: 500px;
	}
}
.intro{
	@media (min-width: 768px) {
		position: relative;
		width: 275px;
	}
	@media (min-width: 1280px) {
		width: 100%;
	}
}
.intro__title{
	color: $color-yellow;
	font-family: 'Futura Std--ExtraBold';
	font-size: 24px;
	@media (min-width: 768px) {
		color: #fff;
		font-family: 'gotham_boldregular';
	}
	@media (min-width: 1280px) {
		font-size: 28px;
		margin: 30px auto;
		word-wrap: break-word;
	}
}
.intro__resume{
	margin: 10px 0;
	@media (min-width: 1280px) {
		position: absolute;
		left: -800px;
	}
}
.service__list{
	@media (min-width: 768px) {
		width: 300px;
	}
	@media (min-width: 1280px) {
		position: absolute;
		left: -800px;
		top: 130px;
	}
}
.intro__list{
	display: none;
	@media (min-width: 768px) {
		display: inline-block;
		margin: 0 0 25px 75px;
		list-style: none;
		width: 320px;
	}
	@media (min-width: 1280px) {
		margin: 15px 0 0;
	}
	.intro__list__title{
		color: $color-yellow;
		font-family: 'gotham_mediumregular';
	}
	.intro__list__item{
		font-family: 'Open Sans',sans-serif;
		font-size: 14px;
		font-weight: 100;
		margin: 3px 0;
	}
}
.intro__title--branding{
	@media (min-width: 1280px) {
		letter-spacing: 1px;
		margin: 40px auto;
		text-align: center;
		width: 100px;
	}
	&:before{
		@media (min-width: 768px){
			content: url(../images/icons/icon_branding-yellow.png);
			position: absolute;
			top: -45px;
			left: -10px;
		}
		@media (min-width: 1280px) {
			top: -300px;
		}
	}
}
.intro__title--intelligence{
	@media (min-width: 1280px) {
		letter-spacing: 2px;
		text-align: center;
		width: 100px;
	}
	&:before{
		@media (min-width: 768px){
			content: url(../images/icons/icon_intelligence-yellow.png);
			position: absolute;
			top: -45px;
			left: -10px;
		}
		@media (min-width: 1280px) {
			top: -300px;
		}
	}
}
.intro__title--social{
	@media (min-width: 1280px) {
		letter-spacing: 5px;
		margin: 40px auto;
		text-align: center;
		width: 90px;
	}
	&:before{
		@media (min-width: 768px){
			content: url(../images/icons/icon_social-yellow.png);
			position: absolute;
			top: -45px;
			left: -10px;
		}
		@media (min-width: 1280px) {
			top: -300px;
		}
	}
}


// Animations Tests

.grid-blocks{
	@media (min-width: 1280px) {
		@include flexbox;
		padding-left: 240px;	
	}
}
.block-unit{
	background: gray;
	border: 6px solid #fff;
	height: 150px;
	width: 150px;
	h1{
		color: #fff;
		font-family: 'gotham_boldregular';
		font-size: 32px;
		margin: 10%;
		letter-spacing: 3px;
		text-align: left;
		width: 80%;
		word-wrap: break-word;
		}
}
.block-unit-intelligence{
	@media (min-width: 1280px) {
		margin-top: 150px;	
	}
}

.currentAnimate{
	@media (min-width: 1280px) {
		height: 465px;
		width: 465px;
		-webkit-transition: all 1.2s ease-in-out;
		transition: all 1.2s ease-in-out;
		.intro__title--branding:before{
			top: -15px;
			left: 210px;
			-webkit-transition: all 2.5s ease-in;
			transition: all 2.5s ease-in;
		}
		.intro__title--intelligence:before{
			top: -15px;
			left: 260px;
			-webkit-transition: all 2.5s ease-in;
			transition: all 2.5s ease-in;
		}
		.intro__title--social:before{
			top: -15px;
			left: 165px;
			-webkit-transition: all 2.5s ease-in;
			transition: all 2.5s ease-in;
		}
		.intro__title{
			width: 250px;
			margin: 45px 0 0 35px;
			letter-spacing: 0;
			text-align: left;
			transition: all 1.8s ease-in-out;
		}
		.currentChild{
			font-size: 13px;
			position: absolute;
			left: 90px;
			width: 320px;
			-webkit-transition: left 2.2s ease-in-out;
			transition: left 2.2s ease-in-out;
		}
		.intro__resume{
			left: 80px;
		}
	}
}
