.container__title--spirit{
	color: $color-yellow;
	font-family: 'gotham_boldregular';
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	@media (min-width: 1280px){
		font-size: 15px;
		width: 200px;
		position: absolute;
		left: 10px;
		letter-spacing: 1px;
	}
}
.container__subtitle--spirit{
	font-size: 64px;
	height: 175px;
	width: 632px;
	margin: 0 auto 60px;
	position: relative;
	text-transform: uppercase;
	@media (min-width: 1280px){
		font-size: 36px;
		height: 84px;
		line-height: 38px;
		margin: 0 0 0 205px;
		width: 320px;
	}
	.title--1{
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
		font-weight: 200;
		letter-spacing: 4px;
	}
	.title--2{
		font-family: 'Futura Std--ExtraBold';
		letter-spacing: 2px;
	}
	.title--3{
		font-family: 'Futura Std--Condensed';
		padding-bottom: 50px;
		letter-spacing: 2px;
	}
	.title--4{
		@extend .title--1;
		font-size: 125px;
		letter-spacing: 10px;
		position: absolute;
		top: 55px;
		@media (min-width: 1280px){
			font-size: 48px;
			top: 45px;
			font-style: normal;
			letter-spacing: 0;
		}
	}
}

.container__column--spirit{
	display: none;
	@media (min-width: 768px){
		display: block;
		margin: 100px auto;
	}
	@media (min-width: 1280px) {
		margin: 80px 0 0;
	}
}
.container__summary--spirit{
	color: $color-yellow;
	font-family: 'gotham_mediumregular';
	line-height: 26px;
	margin: 0 auto;
	width: 540px;
	@media (min-width: 1280px){
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 0 580px;
		width: 410px;
		position: absolute;
	}
}
.container__flexbox--spirit{
	flex-direction: column;
	-webkit-flex-direction: column;
	@media (min-width: 1280px){
		flex-direction: row;
		-webkit-flex-direction: row;
		width: 100%;
	}
}
.container__flexbox--spirit--type{
	flex-direction: column;
	-webkit-flex-direction: column;
	margin: 0;
	@media (min-width: 768px){
		margin: 0 auto;
		width: 540px
	}
	@media (min-width: 1280px){
		@include flex-wrap (nowrap);
		flex-direction: row;
		width: 1040px;
		margin: 0 auto;
	}
}
.container__resume--spirit{
	margin: 50px auto;
	@media (min-width: 1280px){
		width: 300px;
		margin: 50px 30px;
	}
}
.resume--spirit--branding{
	@media (min-width: 1280px) {
		margin: 50px 10px;	
	}
}
.resume--spirit--intelligence{
	@media (min-width: 1280px) {
		margin: 50px 0 0 70px;	
	}
}
.resume--spirit--social{
	@media (min-width: 1280px) {
		margin: 50px 0 0 43px;	
	}
}
.resume__icon{
	border: 6px solid #fff;
	height: 100px;
	width: 100px;
	@media (min-width: 1280px){
		border: 3px solid #fff;
		height: 50px;
		width: 80px;
	}
}
.resume__icon{
	position: relative;
	.resume__icon--branding:before{
		content: url(../images/icons/essence_branding.png);
		position: absolute;
		padding: 20px;
		@media (min-width: 1280px){
			content: url(../images/icons/essence_branding__xs.png);	
			padding: 10px;
		}
	}

	.resume__icon--intelligence:before{
		content: url(../images/icons/essence_intelligence.png);
		position: absolute;
		padding: 15px 20px;
		@media (min-width: 1280px){
			content: url(../images/icons/essence_intelligence__xs.png);
			padding: 6px 10px;
		}
	}

	.resume__icon--social:before{
		content: url(../images/icons/essence_social.png);
		position: absolute;
		padding: 18px;
		@media (min-width: 1280px){
			content: url(../images/icons/essence_social__xs.png);
			padding: 8px;
		}
	}
}
.resume__brief--spirit{
	font-family: 'gotham_bookregular';
	font-size: 15px;
	margin: 0 0 0 50px;
	line-height: 27px;
	width: 390px;
	@media (min-width: 1280px){
		font-size: 14px;
		margin: 55px 0 0;
		line-height: 22px;
		width: none;
	}
}