.codes_graph{
	background-image: url(../images/bg_cod.png);
	background-repeat: repeat;
	height: 100%;
	opacity: .3;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -99;
}
.element-arts{

}
.background-art_heart{
	position: absolute;
	left: -200px;
	top: 70px;
	z-index: -888;
}