@keyframes shake_red{
	0%{left:-4px;}
	15%{left:-5px;top: -5px;}
	45%{left:-7px;top:-3px}
	90%{left:-1px;}
	100%{left:-2px;top:-2px;}
}
@keyframes shake_blue{
	0%{left:1px;}
	15%{left:6px;top: -2px;}
	45%{left:2px;top:1px}
	90%{left:4px;}
	100%{left:-7px;top:-7px;}	
}
@keyframes shake_black{
	0%{left:3px;}
	15%{left:-5px;top: -2px;}
	45%{right:2px;top:-5px}
	70%{transform:scale(1.01);}
	90%{left:-4px;}
	100%{left:2px;top:-8px;}	
}
.codes_graph{
	background-image: url(../images/bg_cod.png);
	background-repeat: repeat;
	height: 100%;
	opacity: .3;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -999;
}
.graphics{
	@media (min-width: 1280px) {
		display: block;
		width: 100%;
		position: relative;
		z-index: -999;
	}
}
.background-art--md{
	display: none;
	@media(min-width: 768px){
		display: block;
	}
}
.background-art_heart{
	position: absolute;
	left: -200px;
	top: 70px;
	z-index: -888;
	.heart_blue:before{
		content: url(../images/arts/heart_blue.png);
		position: absolute;
		left: -7px;
		top: -7px;
		animation: shake_blue 1s infinite ease-out;
		@media (min-width: 1280px) {
			content: url(../images/arts/heart_blue_lg.png);
		}
	}
	.heart_red:before{
		content: url(../images/arts/heart_red.png);
		position: absolute;
		left: -2px;
		top: -2px;
		animation: shake_red 1s infinite ease-out;
		@media (min-width: 1280px) {
			content: url(../images/arts/heart_red_lg.png);
		}
	}
	.heart_black:before{
		content: url(../images/arts/heart.png);
		position: absolute;
		animation: shake_black 1s infinite ease-out;
		@media (min-width: 1280px) {
			content: url(../images/arts/heart_lg.png);
		}
	}
	@media (min-width: 768px){
		left: 60px;
		top: 275px;
	}
	@media (min-width: 1280px){
		left: 320px;
		top: 115px;
	}
}

.background-art_brain{
	position: absolute;
	left: 290px;
	top: 35px;
	z-index: -888;
	@media (min-width: 1280px){
		left: 530px;
		top: 130px;
	}
	.brain_blue:before{
		content: url(../images/arts/brain_blue.png);
		position: absolute;
		left: -7px;
		top: -7px;
		animation: shake_blue 1s infinite ease-out;
	}
	.brain_red:before{
		content: url(../images/arts/brain_red.png);
		position: absolute;
		left: -2px;
		top: -2px;
		animation: shake_red 1s infinite ease-out;
	}
	.brain_black:before{
		content: url(../images/arts/brain.png);
		position: absolute;
		animation: shake_black 1s infinite ease-out;
	}
}

.background-art_eye{
	position: absolute;
	left: 70px;
	top: -50px;
	z-index: -888;
	@media (min-width: 1280px){
		left: 60px;
		top: -30px;
	}
	.eye_blue:before{
		content: url(../images/arts/eye_blue.png);
		position: absolute;
		left: -7px;
		top: -7px;
		animation: shake_blue 1s infinite ease-out;
	}
	.eye_red:before{
		content: url(../images/arts/eye_red.png);
		position: absolute;
		left: -2px;
		top: -2px;
		animation: shake_red 1s infinite ease-out;
	}
	.eye_black:before{
		content: url(../images/arts/eye.png);
		position: absolute;
		animation: shake_black 1s infinite ease-out;
	}
}

.background-art_mouth{
	position: absolute;
	left: 160px;
	top: 100px;
	z-index: -888;
	@media (min-width: 1280px){
		top: 80px;
		left: 680px;
	}
	.mouth_blue:before{
		content: url(../images/arts/mouth_blue.png);
		position: absolute;
		left: -7px;
		top: -7px;
		animation: shake_blue 1s infinite ease-out;
	}
	.mouth_red:before{
		content: url(../images/arts/mouth_red.png);
		position: absolute;
		left: -2px;
		top: -2px;
		animation: shake_red 1s infinite ease-out;
	}
	.mouth_black:before{
		content: url(../images/arts/mouth.png);
		position: absolute;
		animation: shake_black 1s infinite ease-out;
	}
}

.background-art_ear{
	position: absolute;
	right: 200px;
	top: -35px;
	z-index: -888;
	@media (min-width: 1280px){
		right: 460px;
	}
	.ear_blue:before{
		content: url(../images/arts/ear_blue.png);
		position: absolute;
		left: -7px;
		top: -7px;
		animation: shake_blue 1s infinite ease-out;
	}
	.ear_red:before{
		content: url(../images/arts/ear_red.png);
		position: absolute;
		left: -2px;
		top: -2px;
		animation: shake_red 1s infinite ease-out;
	}
	.ear_black:before{
		content: url(../images/arts/ear.png);
		position: absolute;
		animation: shake_black 1s infinite ease-out;
	}
}
.graph1{
	content: url(../images/graphs/graph1.png);
	position: absolute;
	top: 0;
	left: -130px;
	z-index: -999;
	@media (min-width: 768px) {
		top: -40px;
		left: 50px;
	}
	@media (min-width: 1280px){
		top: 0;
		left: 120px;
	}
}
.graph2{
	display: none;
	@media (min-width: 768px) {
		content: url(../images/graphs/graph2.png);
		display: block;
		position: absolute;
		top: 700px;
		left: 50px;
		z-index: -999;
	}
	@media (min-width: 1280px) {	
		top: 360px;
		left: 280px;	
	}
}
.graph3{
	display: none;
	@media (min-width: 768px) {
		display: block;
		content: url(../images/graphs/graph3.png);
		position: absolute;
		top: -60px;
		left: 260px;
		z-index: -999;	
	}
	@media (min-width: 1280px) {
		top: 300px;
		left: 800px;
	}
}
.graph6{
	display: none;
	@media (min-width: 768px) {
		display: block;
		content: url(../images/graphs/graph6.png);
		position: absolute;
		top: -200px;
		left: 100px;
		z-index: -999;	
	}
	@media (min-width: 1280px) {
		top: 170px;
		left: 700px;
	}
}
.graph7{
	display: none;
	@media (min-width: 768px) {
		display: block;
		content: url(../images/graphs/graph7.png);
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -999;	
	}
	@media (min-width: 1280px) {
		bottom: 0;
		left: -390px;
	}
}